# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# .NET
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/
TestResults/
*.nupkg
*.snupkg

# Visual Studio
.vs/
*.VisualState.xml
Generated\ Files/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Logs
*.log
